@page "/demo"
@inject IJSRuntime JsRuntime
@inject HttpClient Http

<div class="inner outer">
    <div class="docs-content">
        <IndicatorsIndex OnIndicatorSelect="CalculateExample"/>
        <article class="post type-docs">
            <div class="post-inside">
                <header class="post-header">
                    <h1 class="post-title line-left">Demo</h1>
                </header>
                <div class="post-content">
                    <h2>Chart</h2>
                    <IndicatorChart/>
                    <h2>Example calculation</h2>
                    <IndicatorData State="_state"/>
                </div>
            </div>
        </article>
    </div>
</div>
