@page "/"

<section id="hero" class="block block-hero has-gradient outer">
    <div class="bg-img" style="background-image: url('img/versus.png')"></div>
    <div class="inner-sm">
        <div class="block-header">
            <h1 class="block-title">TaTooIne</h1>
        </div>
        <div class="block-content">
            <p><strong>TA</strong>-Lib <strong>Tu</strong>lip <strong>In</strong>dicators sandbox</p>
        </div>
    </div>
</section>
