@using TALib
@inject IJSRuntime JsRuntime

<nav id="docs-nav" class="docs-nav">
    <div id="docs-nav-inside" class="sticky">
        <button id="docs-nav-toggle" class="docs-nav-toggle" @onclick="ToggleNavMenuAsync">
            Indicators Index
            <span class="icon-angle-right" aria-hidden="true"></span>
        </button>
        <div class="docs-toc-wrap">
            <ul id="docs-toc" class="docs-toc">
                @for (var i = 0; i < _groups.Count - 1; i++)
                {
                    var localI = i;
                    <li class="toc-item has-children @NavMenuCssClass(localI)">
                        <button type="button" class="button-icon" @onclick="() => ToggleActive(localI)">
                            @_groups[i].Key
                        </button>
                        <button type="button" class="submenu-toggle" @onclick="() => ToggleActive(localI)">
                            <span class="screen-reader-text">Submenu</span>
                            <span class="icon-angle-right" aria-hidden="true"></span>
                        </button>
                        <ul class="toc-submenu">
                            @foreach (var ind in _groups[i])
                            {
                                <li class="toc-item">
                                    <button type="button" class="button-icon"
                                            @onclick="() => OnIndicatorSelect.InvokeAsync(ind)"
                                            @onclick:stopPropagation="true">
                                        @ind.Name
                                    </button>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
